# 2차시도

## 1. 라이브러리 및 데이터 불러오기

In [69]:
import sys, os
from google.colab import drive
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [70]:
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [71]:
os.chdir('/content/drive/MyDrive/data/Titanic')
sys.path.append(os.chdir)

In [72]:
train = pd.read_csv('./train.csv')
test = pd.read_csv('./test.csv')
submission = pd.read_csv('./sample_submission.csv')

## 2. 데이터 분석

In [73]:
train.head()

   PassengerId  Survived  Pclass  ...     Fare Cabin  Embarked
0            1         0       3  ...   7.2500   NaN         S
1            2         1       1  ...  71.2833   C85         C
2            3         1       3  ...   7.9250   NaN         S
3            4         1       1  ...  53.1000  C123         S
4            5         0       3  ...   8.0500   NaN         S

[5 rows x 12 columns]

In [74]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [75]:
train.corr()

             PassengerId  Survived    Pclass  ...     SibSp     Parch      Fare
PassengerId     1.000000 -0.005007 -0.035144  ... -0.057527 -0.001652  0.012658
Survived       -0.005007  1.000000 -0.338481  ... -0.035322  0.081629  0.257307
Pclass         -0.035144 -0.338481  1.000000  ...  0.083081  0.018443 -0.549500
Age             0.036847 -0.077221 -0.369226  ... -0.308247 -0.189119  0.096067
SibSp          -0.057527 -0.035322  0.083081  ...  1.000000  0.414838  0.159651
Parch          -0.001652  0.081629  0.018443  ...  0.414838  1.000000  0.216225
Fare            0.012658  0.257307 -0.549500  ...  0.159651  0.216225  1.000000

[7 rows x 7 columns]

In [76]:
# 성별 수치로 변경
train['Sex'] = train['Sex'].replace('male', 0)
test['Sex'] = test['Sex'].replace('male', 0)

train['Sex'] = train['Sex'].replace('female', 1)
test['Sex'] = test['Sex'].replace('female', 1)

In [77]:
train.head()

   PassengerId  Survived  Pclass  ...     Fare  Cabin  Embarked
0            1         0       3  ...   7.2500    NaN         S
1            2         1       1  ...  71.2833    C85         C
2            3         1       3  ...   7.9250    NaN         S
3            4         1       1  ...  53.1000   C123         S
4            5         0       3  ...   8.0500    NaN         S

[5 rows x 12 columns]

In [78]:
train.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [79]:
train2 = train.dropna(subset=['Embarked'])

In [80]:
train2.shape

(889, 12)

In [81]:
train.shape

(891, 12)

In [82]:
train2.head(1)

   PassengerId  Survived  Pclass  ...  Fare  Cabin  Embarked
0            1         0       3  ...  7.25    NaN         S

[1 rows x 12 columns]

In [83]:
import copy

train2 = train2.copy()
train2.loc[train2['Embarked'] == 'C', 'Embarked'] = 0
train2.loc[train2['Embarked'] == 'Q', 'Embarked'] = 1
train2.loc[train2['Embarked'] == 'S', 'Embarked'] = 2

In [84]:
train2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 889 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  889 non-null    int64
 1   Survived     889 non-null    int64
 2   Pclass       889 non-null    int64
 3   Name         889 non-null    object
 4   Sex          889 non-null    int64
 5   Age          712 non-null    float64
 6   SibSp        889 non-null    int64
 7   Parch        889 non-null    int64
 8   Ticket       889 non-null    object
 9   Fare         889 non-null    float64
 10  Cabin        202 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(6), object(4)
memory usage: 90.3+ KB

In [85]:
train2['Embarked'] = train2['Embarked'].astype(int)

In [86]:
train2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 889 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  889 non-null    int64
 1   Survived     889 non-null    int64
 2   Pclass       889 non-null    int64
 3   Name         889 non-null    object
 4   Sex          889 non-null    int64
 5   Age          712 non-null    float64
 6   SibSp        889 non-null    int64
 7   Parch        889 non-null    int64
 8   Ticket       889 non-null    object
 9   Fare         889 non-null    float64
 10  Cabin        202 non-null    object
 11  Embarked     889 non-null    int64
dtypes: float64(2), int64(7), object(3)
memory usage: 90.3+ KB

In [87]:
train2.corrwith(train2['Embarked'])

PassengerId    0.013166
Survived      -0.169718
Pclass         0.164681
Sex           -0.110320
Age           -0.032565
SibSp          0.068900
Parch          0.040449
Fare          -0.226311
Embarked       1.000000
dtype: float64

In [88]:
train[train['Embarked'].isnull()]

     PassengerId  Survived  Pclass  ...  Fare  Cabin  Embarked
61            62         1       1  ...  80.0    B28       NaN
829          830         1       1  ...  80.0    B28       NaN

[2 rows x 12 columns]

In [89]:
train[train['Fare'] == 80.0]

     PassengerId  Survived  Pclass  ...  Fare  Cabin  Embarked
61            62         1       1  ...  80.0    B28       NaN
829          830         1       1  ...  80.0    B28       NaN

[2 rows x 12 columns]

In [90]:
train[train['Pclass']==1]['Embarked'].value_counts()

S    127
C     85
Q      2
Name: Embarked, dtype: int64

In [91]:
train[train['Survived']==1]['Embarked'].value_counts()

S    217
C     93
Q     30
Name: Embarked, dtype: int64

In [92]:
train['Embarked'].value_counts()

S    644
C    168
Q     77
Name: Embarked, dtype: int64

In [93]:
train['Embarked'] = train['Embarked'].fillna('S')

In [94]:
train.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         0
dtype: int64

In [95]:
train.loc[train.Embarked == 'C', 'Embarked'] = 0
train.loc[train.Embarked == 'Q', 'Embarked'] = 1
train.loc[train.Embarked == 'S', 'Embarked'] = 2

test.loc[test.Embarked == 'C', 'Embarked'] = 0
test.loc[test.Embarked == 'Q', 'Embarked'] = 1
test.loc[test.Embarked == 'S', 'Embarked'] = 2

In [96]:
train['Embarked'] = train['Embarked'].astype('int64')
test['Embarked'] = test['Embarked'].astype('int64')

In [97]:
train.corr()

             PassengerId  Survived    Pclass  ...     Parch      Fare  Embarked
PassengerId     1.000000 -0.005007 -0.035144  ... -0.001652  0.012658  0.013128
Survived       -0.005007  1.000000 -0.338481  ...  0.081629  0.257307 -0.167675
Pclass         -0.035144 -0.338481  1.000000  ...  0.018443 -0.549500  0.162098
Sex            -0.042939  0.543351 -0.131900  ...  0.245489  0.182333 -0.108262
Age             0.036847 -0.077221 -0.369226  ... -0.189119  0.096067 -0.030394
SibSp          -0.057527 -0.035322  0.083081  ...  0.414838  0.159651  0.068230
Parch          -0.001652  0.081629  0.018443  ...  1.000000  0.216225  0.039798
Fare            0.012658  0.257307 -0.549500  ...  0.216225  1.000000 -0.224719
Embarked        0.013128 -0.167675  0.162098  ...  0.039798 -0.224719  1.000000

[9 rows x 9 columns]

In [98]:
test.isnull().sum()

PassengerId      0
Pclass           0
Name             0
Sex              0
Age             86
SibSp            0
Parch            0
Ticket           0
Fare             1
Cabin          327
Embarked         0
dtype: int64

In [99]:
test[test['Fare'].isnull()]

     PassengerId  Pclass                Name  Sex  ...  Ticket  Fare  Cabin Embarked
152         1044       3  Storey, Mr. Thomas    0  ...    3701   NaN    NaN        2

[1 rows x 11 columns]

In [100]:
fare = pd.DataFrame(test[test['Pclass']==3]['Fare'].value_counts().nlargest(12))
fare = fare.reset_index()
fare

      index  Fare
0    7.7500    21
1    8.0500    17
2    7.8958    11
3    7.7750    10
4    7.2292     9
5    7.2250     9
6    8.6625     8
7    7.8542     8
8    7.8792     6
9    7.2500     5
10   7.9250     5
11  15.2458     4

In [101]:
fare['index'].mean()

8.395141666666667

In [102]:
test['Fare'] = test['Fare'].fillna("7.753825")

In [103]:
test.isnull().sum()

PassengerId      0
Pclass           0
Name             0
Sex              0
Age             86
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          327
Embarked         0
dtype: int64

In [104]:
from sklearn.preprocessing import StandardScaler

ss = StandardScaler()
ss.fit(train[['Fare']])
train_fare = ss.transform(train[['Fare']])
test_fare = ss.transform(test[['Fare']])

In [105]:
train['Fare2'] = train_fare
test['Fare2'] = test_fare

In [106]:
train.head(3)

   PassengerId  Survived  Pclass  ... Cabin  Embarked     Fare2
0            1         0       3  ...   NaN         2 -0.502445
1            2         1       1  ...   C85         0  0.786845
2            3         1       3  ...   NaN         2 -0.488854

[3 rows x 13 columns]

필요한 데이터만 가져오기

In [107]:
data = train[['Pclass','Sex','SibSp','Parch','Embarked','Fare2','Survived']]

In [108]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Pclass    891 non-null    int64
 1   Sex       891 non-null    int64
 2   SibSp     891 non-null    int64
 3   Parch     891 non-null    int64
 4   Embarked  891 non-null    int64
 5   Fare2     891 non-null    float64
 6   Survived  891 non-null    int64
dtypes: float64(1), int64(6)
memory usage: 48.9 KB

In [109]:
test_pre = test[['Pclass','Sex','SibSp','Parch','Embarked','Fare2']]

In [110]:
test_pre.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 6 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Pclass    418 non-null    int64
 1   Sex       418 non-null    int64
 2   SibSp     418 non-null    int64
 3   Parch     418 non-null    int64
 4   Embarked  418 non-null    int64
 5   Fare2     418 non-null    float64
dtypes: float64(1), int64(5)
memory usage: 19.7 KB

In [111]:
X_train = data.drop(['Survived'], axis=1)
y_train = data[['Survived']]

X_test = test_pre

In [112]:
from lightgbm import LGBMClassifier
from scipy.stats import uniform, randint 
from sklearn.model_selection import RandomizedSearchCV

params = {'n_estimators': randint(25, 35,),
          'max_features': randint(2, 8),
          'min_impurity_decrease': uniform(0.0001, 0.0005)
          }

lgb = LGBMClassifier(     max_depth=5,
                          n_estimators=2000,
                          learning_rate=0.01,
                          num_leaves=31)

random_search = RandomizedSearchCV(lgb, params, cv=5,
                           scoring="roc_auc",
                           n_iter=10, n_jobs=-1)
random_search.fit(X_train, y_train)

/usr/local/lib/python3.7/dist-packages/sklearn/preprocessing/_label.py:98: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/usr/local/lib/python3.7/dist-packages/sklearn/preprocessing/_label.py:133: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

RandomizedSearchCV(cv=5,
                   estimator=LGBMClassifier(learning_rate=0.01, max_depth=5,
                                            n_estimators=2000),
                   n_jobs=-1,
                   param_distributions={'max_features': <scipy.stats._distn_infrastructure.rv_frozen object at 0x7ffae8977f90>,
                                        'min_impurity_decrease': <scipy.stats._distn_infrastructure.rv_frozen object at 0x7ffae8973310>,
                                        'n_estimators': <scipy.stats._distn_infrastructure.rv_frozen object at 0x7ffae8977dd0>},
                   scoring='roc_auc')

In [113]:
random_search.score(X_train, y_train)

0.8891844821525581

In [114]:
y_pred = random_search.predict(X_test)

In [116]:
submission['Survived'] = y_pred

In [117]:
submission.to_csv('study2_lgbm1.csv', index=False)